<div class="about-section">
  <div class="about-image">
    <div class="image-ring">
      <img src="assets/images/DSC06732.jpg" alt="Vindika Shehan">
    </div>
  </div>

  <div class="about-content">

    <h1>
      HI THERE! I'M <br>
      <span>VINDIKA SHEHAN</span>
    </h1>

    <p class="about-description">
      A <strong>Software Engineer</strong> passionate about building
      scalable web applications, modern UI experiences, and clean backend systems.
    </p>

    <p class="about-description">
      I enjoy working with Angular, .NET, SQL Server, and cloud technologies
      to create high-quality software solutions.
    </p>

    <div class="social-links">
      <a
        href="https://github.com/Sheha-Dev/Sheha-Dev"
        target="_blank"
        rel="noopener noreferrer"
        class="social-btn"
      >
        <i class="ti ti-brand-github"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/vindika-shehan-504029389/"
        target="_blank"
        rel="noopener noreferrer"
        class="social-btn"
      >
        <i class="ti ti-brand-linkedin"></i>
      </a>
    </div>
  </div>
</div>