<div class="navigation-container">

  <!-- Desktop Tabs -->
  <mat-tab-group
    
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab
      *ngFor="let tab of tabs"
      [label]="tab.label">
    </mat-tab>
  </mat-tab-group>

  <!-- Mobile Hamburger -->
  <div  class="mobile-menu">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Navigation Menu"
    >
      <i class="ti ti-menu-2"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let tab of tabs; let i = index"
        (click)="selectMenuTab(i)"
      >
        {{ tab.label }}
      </button>
    </mat-menu>
  </div>

</div>